$slate:#161616;
$slate-ghost: rgba(22,22,22, .75);
$white:#fff;
$purple:#8A4FFF;
$purple-transparent: rgba(138,79,255, 0.5);
$salmon: #CF5A61;
$green: #15B097;
$violet-red: #F75590;
$night-sky: #203139;
$night-sky-ghost: rgba(32, 49, 57, .75);
$half-white: rgba(255,255,255,0.5);
$ghost-white: rgba(255,255,255,0.1);
$xxl:3rem;
$xl:2.5rem;
$lg:2rem;
$md:1.5rem;
$md-rg: 1.25rem;
$rg:1rem;
$sm:.5rem;
$xs:.25rem;
$xxs:.15rem;
$box-border: solid grey 1px;
$radius: 5px;
$transition:all ease-in .25s;
$font-family: monospace;
